/*Main Principal*/
body {
    width: 100%;
    height: 100%;
}
.logo img { /*Logo*/
    float: left;
    max-width: 100px; /*Ajustar a altura da imagem*/
    max-height: auto; /*Ajustar a largura da imagem*/
    padding: 0.4px; /*Ajustar a posição da imagem*/
    padding-left: 30px;/*Ajustar a posição da imagem*/
    width: 50%;
}
.logo {
    width: 50%;
}

header{
    padding: 20px;
}
.btn-menu {
    width: 90%;
    text-align: right;
}
.menu-principal {
    width: 100%; /*Aqui digo pra ele preencher e 100%*/
    /*background-color: aquamarine; /**/
    height: 85px;
    
}
.btn-menu a { /*Menu texto botões*/
    display: inline-block;
    color: grey;
    text-decoration: none;
    font-size: 20px;
    /*text-transform: uppercase;*/
    font-family: Andale Mono, monospace;
    padding-top: 25px;
    margin-left: 30px;
    text-decoration: none;
    position: relative;
}

.btn-menu a::after { /*Animação do css nos botões do menu*/
    content: " ";
    width: 0%;
    height: 2px;
    background-color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.btn-menu a:hover::after{ /*Animação do css nos botões do menu*/
    width: 100%;
}
/*aqui altera os slites e as imagens*/
.selection.slide-apresentacao{
 margin: 0 auto;
 width: 100%;
 height: auto;
 padding: 0 !important; /*para não criar paddings quanto for pra mobile ou telas maiores*/
 overflow: hidden;
}
.slide-apresentacao {
background-color: red;
width: 400%;
height: auto;
display: flex;
}
.slide-apresentacao input, .img-mobile{  /* .img-mobile aqui pra ocultar as img mobiles quando visto no pc*/
display: none;
}

.caixa-slide{
width: 25%;
height: auto;
position: relative;
text-align: center;
}

.caixa-slide img{
width: 100%;
}

/*os botões*/
.nav-manual, .nav-auto{
position: absolute;
width: 100%;
margin-top: 35%;
display: flex;
justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
border: 1px solid #ff0054;
padding: 10px;
border-radius: 50%;
cursor: pointer;
transition: 0.2s;
}

/*espaçamento entres os botões*/
.nav-manual .manual-btn:not(:last-child), .nav-auto :not(:last-child){
margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

/*coloração dos botões*/
#slide1:checked ~ .nav-auto .auto-btn1{
    background-color: #ff0054;
}
#slide2:checked ~ .nav-auto .auto-btn2{
    background-color: coral;
}
#slide3:checked ~ .nav-auto .auto-btn3{
    background-color: cornflowerblue;
}

/*tempo de oscilação*/
#slide1:checked ~ .primeiro{
    margin-left: 0%;
}
#slide2:checked ~ .primeiro{
    margin-left: -25%;
}
#slide3:checked ~ .primeiro{
    margin-left: -50%;
}
